﻿@model HospitalProject.Models.Notification

@{
    ViewData["Title"] = "Create";

}

<h4>Add New Notification</h4>
<form action="/Notification/Create" method="post" novalidate="novalidate">
    <div id="LinkForm">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="NotificationTitle">Notification Title</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field Notification Title must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Notification Title field is required." id="NotificationTitle" name="NotificationTitle" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationTitle" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="NotificationText">Notification Text</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field Notification Text must be a string with a maximum length of 2000." data-val-length-max="2000" data-val-required="The Notification Text field is required." id="NotificationText" name="NotificationText" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationText" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.NotificationCreatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden", })
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationCreatedDate" data-valmsg-replace="true"></span>
                    @Html.TextBoxFor(model => model.NotificationUpdatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden", })
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationUpdatedDate" data-valmsg-replace="true"></span>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isPublished field is required." id="IsPublished" name="IsPublished" value="true"> isPublished
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isDeleted field is required." id="IsDeleted" name="IsDeleted" value="true"> isDeleted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="NotificationStartDate">Notification Start Date</label>
                    <input class="form-control valid" type="datetime-local" data-val="true" data-val-required="The Notification Start Date field is required." id="NotificationStartDate" name="NotificationStartDate" value="0001-01-01T00:00:00.000" aria-describedby="NotificationStartDate-error" aria-invalid="false">
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationStartDate" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="NotificationEndDate">Notification End Date</label>
                    <input class="form-control valid" type="datetime-local" data-val="true" data-val-required="The Notification End Date field is required." id="NotificationEndDate" name="NotificationEndDate" value="0001-01-01T00:00:00.000" aria-describedby="NotificationEndDate-error" aria-invalid="false">
                    <span class="text-danger field-validation-valid" data-valmsg-for="NotificationEndDate" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class="form-control" asp-items="ViewBag.AdminID"></select>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FF-moBai2dDuR_fKqpaXgs3AJljfSt1ufikH5VSAofUQ4FivME9TrM3RSm0JhwRYlf6xbQcbZgfaBxMDF3B1oYlyy33oU2_iIphd5UmXSDZh-NH37IJq0l4nsCjxUwCJmXoheqH6rEJrqisua2x_eBUm6SymZ2_UHKN1ykms_ZXB5oLbi6Jojme6mRX6Gxhlg">
        <input type="submit" value="Add Notification" class="btn btn-primary" />
    </div>
</form>
<!--
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NotificationTitle" class="control-label"></label>
                <input asp-for="NotificationTitle" class="form-control" />
                <span asp-validation-for="NotificationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationText" class="control-label"></label>
                <input asp-for="NotificationText" class="form-control" />
                <span asp-validation-for="NotificationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationStartDate" class="control-label"></label>
                <input asp-for="NotificationStartDate" class="form-control" />
                <span asp-validation-for="NotificationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationEndDate" class="control-label"></label>
                <input asp-for="NotificationEndDate" class="form-control" />
                <span asp-validation-for="NotificationEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationCreatedDate" class="control-label"></label>
                <input asp-for="NotificationCreatedDate" class="form-control" />
                <span asp-validation-for="NotificationCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationUpdatedDate" class="control-label"></label>
                <input asp-for="NotificationUpdatedDate" class="form-control" />
                <span asp-validation-for="NotificationUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class ="form-control" asp-items="ViewBag.AdminID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
-->

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
