﻿@model HospitalProject.Models.Notification

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotificationTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationCreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationCreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationUpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificationUpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NotificationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
