﻿@model HospitalProject.Models.Notification

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotificationID" />
            <div class="form-group">
                <label asp-for="NotificationTitle" class="control-label"></label>
                <input asp-for="NotificationTitle" class="form-control" />
                <span asp-validation-for="NotificationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationText" class="control-label"></label>
                <input asp-for="NotificationText" class="form-control" />
                <span asp-validation-for="NotificationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationStartDate" class="control-label"></label>
                <input asp-for="NotificationStartDate" class="form-control" />
                <span asp-validation-for="NotificationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationEndDate" class="control-label"></label>
                <input asp-for="NotificationEndDate" class="form-control" />
                <span asp-validation-for="NotificationEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationCreatedDate" class="control-label"></label>
                <input asp-for="NotificationCreatedDate" class="form-control" />
                <span asp-validation-for="NotificationCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationUpdatedDate" class="control-label"></label>
                <input asp-for="NotificationUpdatedDate" class="form-control" />
                <span asp-validation-for="NotificationUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class="form-control" asp-items="ViewBag.AdminID"></select>
                <span asp-validation-for="AdminID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
