﻿@model IEnumerable<HospitalProject.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h4>Emergency Notifications</h4>

<p>
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        <div>Only Admins can create and view Notifications. Please login as Admin. </div>
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        <div>Please @Html.ActionLink("Log In", "Login", "Account") or @Html.ActionLink("Register An Account", "Register", "Account") to create new notifications</div>
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <a href="Notification/Create"><button class="btn btn-primary">Add New Notification</button></a>

        <div>
            <!-- From Christine's Pagination Notes -->
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev", "Index", "Link",
                new { pagenum= ((int)ViewData["pagenum"] - 1)}
                )
            |
            @Html.ActionLink("Next", "Index", "Notification",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationCreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NotificationUpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationCreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationUpdatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin.FirstName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.NotificationID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.NotificationID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.NotificationID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</p>
