﻿@{
    ViewData["Title"] = "Create";
}

<h2>Add an Event</h2>

<!-- Form to create a new Event -->
<form method="POST" action="/Event/Create">
    <div class="form-row">
        <label for="event-name">Event: </label>
        <input type="text" id="event-name" name="event_name" />
    </div>

    <div class="form-row">
        <label for="event-desc">Event Description: </label>
        <textarea id="event-desc" name="event_desc"></textarea>
    </div>

    <div class="form-row">
        <label>Start Time: </label>
        <input type="date" name="event_start_date" />
        <input type="time" name="event_start_time" />
    </div>

    <div class="form-row">
        <label>End Time: </label>
        <input type="date" name="event_end_date" />
        <input type="time" name="event_end_time" />
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Event")