﻿@model HospitalProject.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this event?</h2>

<div>
    <div>Name : @Model.Name</div>
    <div>Description : @Model.Description</div>
    <div>Start Time : @Model.StartTime.ToString()</div>
    <div>End Time : @Model.EndTime.ToString()</div>

    <form method="POST" action="/Event/Delete/@Model.EventID">
        <input type="hidden" name="admin_id" value="@Model.AdminID" />

        <div class="form-row">
            <input type="submit" value="Delete" />
        </div>
    </form>

    <div>@Html.ActionLink("Back to List", "Index", "Event")</div>
</div>

