﻿@model HospitalProject.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h2>Event Details</h2>

@if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
{
    <div>@Html.ActionLink("Edit", "Edit", new { id = @Model.EventID, adminid = @Model.AdminID })</div>
    <div>@Html.ActionLink("Delete", "Delete", new { id = @Model.EventID, adminid = Model.AdminID })</div>
}

<div class="event-details">
    <h2>Name: @Model.Name</h2>
    <div class="feature-description">Description: @Model.Description</div>
    <div class="feature-description">Start Time: @Model.StartTime.ToString()</div>
    <div class="feature-description">End Time: @Model.EndTime.ToString()</div>
</div>

<div>@Html.ActionLink("Back to List", "Index", "Event")</div>
