﻿@model HospitalProject.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit an Event</h2>

<!-- Form to Edit an Event -->
<form method="POST" action="/Event/Edit/@Model.EventID">
    <div class="form-row">
        <label for="event-name">Event: </label>
        <input type="text" id="event-name" name="event_name" value="@Model.Name" />
    </div>

    <div class="form-row">
        <label for="event-desc">Event Description: </label>
        <textarea id="event-desc" name="event_desc">@Model.Description</textarea>
    </div>

    <div class="form-row">
        <label>Start Time: </label>
        <input type="date" name="event_start_date" value="@Model.StartTime.ToString("yyyy/MM/dd")" />
        <input type="time" name="event_start_time" value="@Model.StartTime.ToString("HH:mm")" />
    </div>

    <div class="form-row">
        <label>End Time: </label>
        <input type="date" name="event_end_date" value="@Model.EndTime.ToString("yyyy/MM/dd")" />
        <input type="time" name="event_end_time" value="@Model.EndTime.ToString("HH:mm")" />
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Event")