﻿@model IEnumerable<HospitalProject.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add an Event", "Create", "Event")
        </div>
    }

</div>
<div>
    <!-- From Christine's Pagination Notes -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev", "Index", "Event",
        new { pagenum= ((int)ViewData["pagenum"] - 1)}
        )
    |
    @Html.ActionLink("Next", "Index", "Event",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<div class="events-area">
    @foreach (Event hospEvent in Model)
    {
        <div class="hospital-event">
            @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = hospEvent.EventID, adminid = hospEvent.AdminID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = hospEvent.EventID, adminid = hospEvent.AdminID })
                </div>
            }
            <div class="feature-heading">@Html.ActionLink(hospEvent.Name, "Details", new { id = hospEvent.EventID, adminid = hospEvent.AdminID })</div>
            <div class="feature-description">@hospEvent.Description</div>
            <div class="feature-description">Start Time: @hospEvent.StartTime.ToString()</div>
            <div class="feature-description">End Time: @hospEvent.EndTime.ToString()</div>
        </div>
    }
</div>
