﻿@{
    ViewData["Title"] = "Create";
}

<h2>Add a Category</h2>

<!-- Form to create a new Category -->
<form method="POST" action="/Category/Create">
    <div class="form-row">
        <label for="category-name">Question: </label>
        <input type="text" id="category-name" name="category_name">
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Category")