﻿@model HospitalProject.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this category?</h2>

<div>
    <div>Name : @Model.Name</div>

    <form method="POST" action="/Category/Delete/@Model.CategoryID">
        <input type="hidden" name="admin_id" value="@Model.AdminID" />

        <div class="form-row">
            <input type="submit" value="Delete" />
        </div>
    </form>

    <div>@Html.ActionLink("Back to List", "Index", "Category")</div>
</div>
