﻿@model HospitalProject.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Category</h2>

<!-- Form to edit a Category -->
<form method="POST" action="/Category/Edit/@Model.CategoryID">
    <div class="form-row">
        <label for="category-name">Question: </label>
        <input type="text" id="category-name" name="category_name" value="@Model.Name">
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Category")