﻿@model IEnumerable<HospitalProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }

    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }

    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }

    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add a Category", "Create", "Category")
        </div>
    }

</div>
<div>
    <!-- From Christine's Pagination Notes -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev", "Index", "Category",
        new { pagenum= ((int)ViewData["pagenum"] - 1)}
        )
    |
    @Html.ActionLink("Next", "Index", "Category",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Created By
        </th>
        @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @item.Admin.FirstName @item.Admin.LastName
        </td>

        @if (item.AdminID.ToString() == id)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID, adminid = item.AdminID })
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID, adminid = item.AdminID })
            </td>
        }
    </tr>
    }
</table>
