﻿@model IEnumerable<HospitalProject.Models.Newsletter>
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Index</h2>

<div class="title btn-md">@Html.ActionLink("Craete Newsletter", "Create")</div>

<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev", "List", "CreateNewsletter", new { pagenum = ((int)ViewData["pagenum"] - 1) }
                 ) | @Html.ActionLink("Next", "List", "CreateNewsletter", new { pagenum = ((int)ViewData["pagenum"] + 1) }
  )

            </div>

        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px; margin: 10px;">
                    <div>
                        <div class="label">
                            @Html.DisplayNameFor(model => model.name):
                        </div>
                        <div class="right-side">
                            @Html.DisplayFor(modelItem => item.name)
                        </div>
                    </div>
                    <div>
                        <div class="label">
                            @Html.DisplayNameFor(model => model.post_details):
                        </div>
                        <div class="right-side">
                            @Html.DisplayFor(modelItem => item.post_details)
                        </div>
                    </div>
                    
                    <div>
                        <div class="label">
                            @Html.DisplayNameFor(model => model.date_created):
                        </div>
                        <div class="right-side">
                            @Html.DisplayFor(modelItem => item.date_created)
                        </div>
                    </div>

                    <div>
                        <div class="center">
                            <button class="buttonLink">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                            <button class="buttonLink">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                            <button class="buttonLink">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                        </div>
                    </div>
                </div>

            }
        </div>

