﻿@{
    ViewData["Title"] = "Create";
}

<h4>Create a new VaccinationAlert</h4>

<form action="/VaccinationAlerts/Create" method="POST">
    <label>name</label><input type="text" name="vacname"/>
    <label>address</label><input type="text" name="vacaddress"/>
    <label>age</label><input type="text" name="vacage"/>
    <label>number</label><input type="text" name="vacnumber"/>
    <input type="submit" value="submit"/>
</form>