﻿@model HospitalProject.Models.ReachUs
@{
    ViewData["Title"] = "Details";
}

<div class="title">
    <h2>Details</h2>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.FName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.FName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.LName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.LName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Phone):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Email):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Comment):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </div>

            <div>
                <button class="buttonLink">@Html.ActionLink("Back to Reach us Forms List", "Index")</button>
            </div>
        </div>
    </div>
</div>



