﻿@model IEnumerable<HospitalProject.Models.ReachUs>
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Reach Us</h2>

<div class="title btn-md">
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Reach Us", "Create", "ReachUs")
        </div>
    }
</div>

<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev","List","ReachUs", new { pagenum = ((int)ViewData["pagenum"] - 1)  }
        ) | @Html.ActionLink("Next","List","ReachUs", new { pagenum = ((int)ViewData["pagenum"]+1) }
)

    </div>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.FName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.FName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(modelItem => item.LName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.LName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(modelItem => item.Phone):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.Phone)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(modelItem => item.Email):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(modelItem => item.Comment):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.Comment)
                </div>
            </div>
            <div>
                <div class="center">
                    <button class="buttonLink">@Html.ActionLink("Edit", "Edit", new { id = item.ReachUsID })</button>
                    <button class="buttonLink">@Html.ActionLink("Details", "Details", new { id = item.ReachUsID })</button>
                    <button class="buttonLink">@Html.ActionLink("Delete", "Delete", new { id = item.ReachUsID })</button>
                </div>
            </div>
        </div>

    }
</div>