﻿@model IEnumerable<HospitalProject.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Admins</h2>

<div class="recadd">
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
    }

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @if (item.AdminID.ToString() == id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.AdminID })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Details", "Details", new { id = item.AdminID })
                @if (item.AdminID.ToString() == id)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
                }
            </td>
        </tr>
    }

</table>
