﻿@model HospitalProject.Models.Page

@{
    ViewData["Title"] = "Create New Page";
}

<h4>Create New Page</h4>
<form action="/Page/Create" method="post" novalidate="novalidate">
    <div id="donationForm">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="PageTitle">Page Title</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field Page Title must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Page Title field is required." id="PageTitle" name="PageTitle" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="PageTitle" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="PageSubtitle">Page Subtitle</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field Page Subtitle must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Page Subtitle field is required." id="PageSubtitle" name="PageSubtitle" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="PageSubtitle" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.PageCreatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden", })
                    <span class="text-danger field-validation-valid" data-valmsg-for="PageCreatedDate" data-valmsg-replace="true"></span>
                    @Html.TextBoxFor(model => model.PageUpdatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden", })
                    <span class="text-danger field-validation-valid" data-valmsg-for="PageUpdatedDate" data-valmsg-replace="true"></span>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isPublished field is required." id="IsPublished" name="IsPublished" value="true"> isPublished
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isDeleted field is required." id="IsDeleted" name="IsDeleted" value="true"> isDeleted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label asp-for="AdminID" class="control-label"></label>
                    <select asp-for="AdminID" class="form-control" asp-items="ViewBag.AdminID"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="PageContent">Page Content</label>
                    <textarea class="form-control" type="text" data-val="true" data-val-length="The field Page Content must be a string with a maximum length of 2000." data-val-length-max="2000" data-val-required="The Page Content field is required." id="PageContent" name="PageContent" value=""></textarea>
                    <span class="text-danger field-validation-valid" data-valmsg-for="PageContent" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FF-moBai2dDuR_fKqpaXgs3AJljfSt1ufikH5VSAofUQ4FivME9TrM3RSm0JhwRYlf6xbQcbZgfaBxMDF3B1oYlyy33oU2_iIphd5UmXSDZh-NH37IJq0l4nsCjxUwCJmXoheqH6rEJrqisua2x_eBUm6SymZ2_UHKN1ykms_ZXB5oLbi6Jojme6mRX6Gxhlg">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
