﻿@model HospitalProject.Models.Page

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageSubtitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageSubtitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageCreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageCreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageUpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageUpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PageID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
