﻿@model IEnumerable<HospitalProject.Models.Page>
@{
    ViewData["Title"] = "Hospital Pages";
}

<h4>Pages</h4>

<p>
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        <div>Only Admins can create and view Pages. Please login as Admin. </div>
    } 
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        <div>Please @Html.ActionLink("Log In", "Login", "Account") or @Html.ActionLink("Register An Account", "Register", "Account") to create new pages</div>
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <a href="Page/Create"><button class="btn btn-primary">Add New Page</button></a>

        <div>
            <!-- From Christine's Pagination Notes -->
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev", "Index", "Page",
                new { pagenum= ((int)ViewData["pagenum"] - 1)}
                )
            |
            @Html.ActionLink("Next", "Index", "Page",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PageTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageSubtitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageCreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageUpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageSubtitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageCreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageUpdatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td></td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PageID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PageID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PageID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</p>
