﻿@model IEnumerable<HospitalProject.Models.Category>

@{
    ViewData["Title"] = "Create";
}

<h2>Add a FAQ</h2>

<!-- Form to create a new FAQ -->
<form method="POST" action="/Faq/Create">
    <div class="form-row">
        <label for="faq-question">Question: </label>
        <textarea id="faq-question" name="faq_question"></textarea>
    </div>

    <div class="form-row">
        <label for="faq-answer">Answer: </label>
        <textarea id="faq-answer" name="faq_answer"></textarea>
    </div>

    <div class="form-row">
        <label for="faq-category">Category:</label>
        <!-- Creates a dropdown list with all the categories -->
        <select id="faq-category" name="faq_category">
            @foreach (var category in Model)
            {
                <option value="@category.CategoryID">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Faq")
