﻿@model HospitalProject.Models.Faq

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this faq?</h2>

<div>
    <div>Question : @Model.Question</div>
    <div>Answer : @Model.Answer</div>
    <div>Date Added : @Model.DateAdded</div>
    <div>Category : @Model.Category.Name</div>

    <form method="POST" action="/Faq/Delete/@Model.FaqID">
        <input type="hidden" name="admin_id" value="@Model.AdminID" />

        <div class="form-row">
            <input type="submit" value="Delete" />
        </div>
    </form>

    <div>@Html.ActionLink("Back to List", "Index", "Faq")</div>
</div>
