﻿@model HospitalProject.Models.ViewModels.FaqEdit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit FAQ</h2>

<!-- Form to edit a FAQ -->
<form method="POST" action="/Faq/Edit/@Model.Faq.FaqID">
    <div class="form-row">
        <label for="faq-question">Question: </label>
        <textarea id="faq-question" name="faq_question">@Model.Faq.Question</textarea>
    </div>

    <div class="form-row">
        <label for="faq-answer">Answer: </label>
        <textarea id="faq-answer" name="faq_answer">@Model.Faq.Answer</textarea>
    </div>

    <div class="form-row">
        <label for="faq-category">Category:</label>
        <!-- Creates a dropdown list with all the categories -->
        <select id="faq-category" name="faq_category">
            @foreach (var category in Model.Categories)
            {
                @if (category.CategoryID== Model.Faq.CategoryID)
                {
                    <option value="@category.CategoryID" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.CategoryID">@category.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Faq")