﻿@model IEnumerable<HospitalProject.Models.Faq>

@{
    ViewBag.Title = "Index";
}

<h2>FAQs</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add a FAQ", "Create", "Faq")
        </div>
    }

</div>
<div>
    <!-- From Christine's Pagination Notes -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev", "Index", "Faq",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next", "Index", "Faq",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<div class="faq-area">
    @foreach (Faq faq in Model)
    {
        <div class="faq">
            @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = faq.FaqID, adminid = faq.AdminID }) | 
                    @Html.ActionLink("Delete", "Delete", new { id = faq.FaqID, adminid = faq.AdminID })
                </div>
            }
            <div class="feature-heading">@faq.Question</div>
            <div class="feature-description">@faq.Answer</div>
            <div class="feature-description">Category: @faq.Category.Name</div>
            <div class="feature-description">Added By: @faq.Admin.FirstName @faq.Admin.LastName</div>
        </div>
    }
</div>
