﻿@model HospitalProject.Models.FindSpecialist
@{
    ViewData["Title"] = "Details";
}

<div class="title">
    <h2>Details</h2>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.SpecialistFName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.SpecialistFName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.SpecialistLName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.SpecialistLName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Phone):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Gender):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Speciality):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Speciality)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.AvailableDay):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.AvailableDay)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.AvailableTime):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.AvailableTime)
                </div>
            </div>

            <div>
                <button class="buttonLink">@Html.ActionLink("Back to Specialist List", "Index")</button>
            </div>
        </div>
     </div>
</div>



