﻿@model HospitalProject.Models.Link

@{
    ViewData["Title"] = "Create";
}


<h4>Create New Link</h4>

<form action="/Link/Create" method="post" novalidate="novalidate">
    <div id="LinkForm">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="LinkText">Link Text</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field Link Text must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Link Text field is required." id="LinkText" name="LinkText" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="LinkText" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="LinkType">Select Type of Link</label>
                    <select class="form-control valid" data-val="true" data-val-required="The Link Type field is required." id="LinkType" name="LinkType" aria-describedby="LinkType-error" aria-invalid="false">
                        <option value="1">Internal</option>
                        <option value="2">External</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="LinkExternalURL">External URL</label>
                    <input class="form-control" type="text" data-val="true" data-val-length="The field External URL must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The External URL field is required." id="LinkExternalURL" name="LinkExternalURL" value=" ">
                    <span class="text-danger field-validation-valid" data-valmsg-for="LinkExternalURL" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="PageID">Internal Page</label>
                    <select asp-for="PageID" class="form-control" asp-items="ViewBag.PageID"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.LinkCreatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden" })
                    <span class="text-danger field-validation-valid" data-valmsg-for="LinkCreatedDate" data-valmsg-replace="true"></span>
                    @Html.TextBoxFor(model => model.LinkUpdatedDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden" })
                    <span class="text-danger field-validation-valid" data-valmsg-for="LinkUpdatedDate" data-valmsg-replace="true"></span>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isPublished field is required." id="IsPublished" name="IsPublished" value="true"> isPublished
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-val="true" data-val-required="The isDeleted field is required." id="IsDeleted" name="IsDeleted" value="true"> isDeleted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FF-moBai2dDuR_fKqpaXgs3AJljfSt1ufikH5VSAofUQ4FivME9TrM3RSm0JhwRYlf6xbQcbZgfaBxMDF3B1oYlyy33oU2_iIphd5UmXSDZh-NH37IJq0l4nsCjxUwCJmXoheqH6rEJrqisua2x_eBUm6SymZ2_UHKN1ykms_ZXB5oLbi6Jojme6mRX6Gxhlg">
        <input type="submit" value="Add Link" class="btn btn-primary" />
    </div>
</form>

<!--
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LinkText" class="control-label"></label>
                <input asp-for="LinkText" class="form-control" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkType" class="control-label"></label>
                <input asp-for="LinkType" class="form-control" />
                <span asp-validation-for="LinkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkExternalURL" class="control-label"></label>
                <input asp-for="LinkExternalURL" class="form-control" />
                <span asp-validation-for="LinkExternalURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkCreatedDate" class="control-label"></label>
                <input asp-for="LinkCreatedDate" class="form-control" />
                <span asp-validation-for="LinkCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkUpdatedDate" class="control-label"></label>
                <input asp-for="LinkUpdatedDate" class="form-control" />
                <span asp-validation-for="LinkUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PageID" class="control-label"></label>
                <select asp-for="PageID" class="form-control" asp-items="ViewBag.PageID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
