﻿@model HospitalProject.Models.Link

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LinkText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkExternalURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkExternalURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkCreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkCreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkUpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkUpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.page)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.page.PageContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LinkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
