﻿@model HospitalProject.Models.Link

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Link</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LinkID" />
            <div class="form-group">
                <label asp-for="LinkText" class="control-label"></label>
                <input asp-for="LinkText" class="form-control" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkType" class="control-label"></label>
                <input asp-for="LinkType" class="form-control" />
                <span asp-validation-for="LinkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkExternalURL" class="control-label"></label>
                <input asp-for="LinkExternalURL" class="form-control" />
                <span asp-validation-for="LinkExternalURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkCreatedDate" class="control-label"></label>
                <input asp-for="LinkCreatedDate" class="form-control" />
                <span asp-validation-for="LinkCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkUpdatedDate" class="control-label"></label>
                <input asp-for="LinkUpdatedDate" class="form-control" />
                <span asp-validation-for="LinkUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PageID" class="control-label"></label>
                <select asp-for="PageID" class="form-control" asp-items="ViewBag.PageID"></select>
                <span asp-validation-for="PageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
