﻿@model IEnumerable<HospitalProject.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h4>Links</h4>

<p>
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        <div>Only Admins can create and view Links. Please login as Admin. </div>
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        <div>Please @Html.ActionLink("Log In", "Login", "Account") or @Html.ActionLink("Register An Account", "Register", "Account") to create new navigation links</div>
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <a href="Link/Create"><button class="btn btn-primary">Add New Link</button></a>

        <div>
            <!-- From Christine's Pagination Notes -->
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev", "Index", "Link",
                new { pagenum= ((int)ViewData["pagenum"] - 1)}
                )
            |
            @Html.ActionLink("Next", "Index", "Link",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkExternalURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkCreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkUpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.page)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkExternalURL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkCreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkUpdatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.page.PageContent)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.LinkID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.LinkID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.LinkID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


</p>
