﻿@model HospitalProject.Models.PatientProfile
@{
    ViewData["Title"] = "Details";
}

<div class="title">
    <h2>Details</h2>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.FirstName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.FirstName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.LastName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.LastName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.DOB):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.DOB)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Notes):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.Notes)
                </div>
            </div>

            <div>
                <button class="buttonLink">@Html.ActionLink("Back to Patients List", "Index")</button>
            </div>
        </div>
    </div>
</div>





