﻿@model IEnumerable<HospitalProject.Models.PatientProfile>
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Index</h2>

<div class="title btn-md">
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add a Patient", "Create", "PatientProfile")
        </div>
    }
</div>

<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev","List","PatientProfile", new { pagenum = ((int)ViewData["pagenum"] - 1)  }
        ) | @Html.ActionLink("Next","List","PatientProfile", new { pagenum = ((int)ViewData["pagenum"]+1) }
)

    </div>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px; margin: 10px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.FirstName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.LastName):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.DOB):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.DOB)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.Notes):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(modelItem => item.Notes)
                </div>
            </div>
            <div>
                <div class="center">
                    <button class="buttonLink">@Html.ActionLink("Edit", "Edit", new { id = item.PatientID })</button>
                    <button class="buttonLink">@Html.ActionLink("Details", "Details", new { id = item.PatientID })</button>
                    <button class="buttonLink">@Html.ActionLink("Delete", "Delete", new { id = item.PatientID })</button>
                </div>
            </div>
        </div>

    }
</div>
