﻿@model IEnumerable<HospitalProject.Models.Department>

@{
    ViewData["Title"] = "Create";
}

<h2>Add a Job Posting</h2>

<!-- Form to create a new Job Posting -->
<form method="POST" action="/JobPosting/Create">
    <div class="form-row">
        <label for="job-title">Job Title: </label>
        <input type="text" id="job-title" name="job_title" />
    </div>

    <div class="form-row">
        <label for="job-desc">Job Description: </label>
        <textarea id="job-desc" name="job_desc"></textarea>
    </div>

    <div class="form-row">
        <label for="job-qual">Job Qualifications: </label>
        <textarea id="job-qual" name="job_qual"></textarea>
    </div>

    <div class="form-row">
        <label>Deadline: </label>
        <input type="date" name="job_deadline_date" />
        <input type="time" name="job_deadline_time" />
    </div>

    <div class="form-row">
        <label for="job-is-active">Is Active?: </label>
        <input type="checkbox" id="job-is-active" name="job_is_active" value="true">
    </div>

    <div class="form-row">
        <label for="job-department">Department:</label>
        <!-- Creates a dropdown list with all the departments -->
        <select id="job-department" name="job_department">
            @foreach (var department in Model)
            {
                <option value="@department.DepartmentID">@department.Name</option>
            }
        </select>
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "JobPosting")