﻿@model HospitalProject.Models.JobPosting

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this job posting?</h2>

<div>
    <div>Title : @Model.Title</div>
    <div>Description : @Model.Description</div>
    <div>Qualifications : @Model.Qualifications</div>
    <div>Date Posted : @Model.DatePosted.ToString()</div>
    <div>Deadline : @Model.Deadline.ToString()</div>
    <div>Is Active? : @Model.IsActive.ToString()</div>
    <div>Department : @Model.Department.Name</div>
    
    <form method="POST" action="/JobPosting/Delete/@Model.JobPostingID">
        <input type="hidden" name="admin_id" value="@Model.AdminID" />

        <div class="form-row">
            <input type="submit" value="Delete" />
        </div>
    </form>

    <div>@Html.ActionLink("Back to List", "Index", "JobPosting")</div>
</div>
