﻿@model HospitalProject.Models.JobPosting

@{
    ViewData["Title"] = "Edit";
}

<h2>Job Details</h2>

@if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
{
    <div>@Html.ActionLink("Edit", "Edit", new { id = @Model.JobPostingID, adminid = @Model.AdminID })</div>
    <div>@Html.ActionLink("Delete", "Delete", new { id = @Model.JobPostingID, adminid = Model.AdminID })</div>
}

    <div class="event-details">
        <h2>Title: @Model.Title</h2>
        <div class="feature-description">Department: @Model.Department</div>
        <div class="feature-description">Description: @Model.Description</div>
        <div class="feature-description">Qualifications: @Model.Qualifications</div>
        <div class="feature-description">Deadline to Apply: @Model.Deadline.ToString()</div>

        @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
        {
            <div class="feature-description">Is Active?: @Model.IsActive.ToString()</div>
            <div class="feature-description">Created By: @Model.Admin.FirstName.ToString() @Model.Admin.LastName.ToString()</div>
        }
    </div>

<div>@Html.ActionLink("Back to List", "Index", "JobPosting")</div>
