﻿@model HospitalProject.Models.ViewModels.JobPostingEdit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit a Job Posting</h2>

<!-- Form to edit a Job Posting -->
<form method="POST" action="/JobPosting/Edit/@Model.JobPosting.JobPostingID">
    <div class="form-row">
        <label for="job-title">Job Title: </label>
        <input type="text" id="job-title" name="job_title" value="@Model.JobPosting.Title" />
    </div>

    <div class="form-row">
        <label for="job-desc">Job Description: </label>
        <textarea id="job-desc" name="job_desc">@Model.JobPosting.Description</textarea>
    </div>

    <div class="form-row">
        <label for="job-qual">Job Qualifications: </label>
        <textarea id="job-qual" name="job_qual">@Model.JobPosting.Qualifications</textarea>
    </div>

    <div class="form-row">
        <label>Deadline: </label>
        <input type="date" name="job_deadline_date" value="@Model.JobPosting.Deadline.ToString("yyyy/MM/dd")" />
        <input type="time" name="job_deadline_time" value="@Model.JobPosting.Deadline.ToString("HH:mm")" />
    </div>

    <div class="form-row">
        <label for="job-is-active">Is Active?: </label>
        @if (Model.JobPosting.IsActive)
        {<input type="checkbox" id="job-is-active" name="job_is_active" value="true" checked> }
        else
        { <input type="checkbox" id="job-is-active" name="job_is_active" value="true">}
    </div>

    <div class="form-row">
        <label for="job-department">Department:</label>
        <!-- Creates a dropdown list with all the departments -->
        <select id="job-department" name="job_department">
            @foreach (var department in Model.Departments)
            {
                @if (department.DepartmentID == Model.JobPosting.DepartmentID)
                {
                    <option value="@department.DepartmentID" selected>@department.Name</option>
                }
                else
                {
                    <option value="@department.DepartmentID">@department.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "JobPosting")
