﻿@model IEnumerable<HospitalProject.Models.JobPosting>

@{
    ViewBag.Title = "Index";
}

<h2>Job Postings</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add a Job Posting", "Create", "JobPosting")
        </div>
    }

</div>
<div>
    <!-- From Christine's Pagination Notes -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev", "Index", "JobPosting",
        new { pagenum= ((int)ViewData["pagenum"] - 1)}
        )
    |
    @Html.ActionLink("Next", "Index", "JobPosting",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>

<div class="jobs-area">
    @foreach (JobPosting jobPosting in Model)
    {
    <div class="job-posting">
        @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = jobPosting.JobPostingID, adminid = jobPosting.AdminID }) |
                @Html.ActionLink("Delete", "Delete", new { id = jobPosting.JobPostingID, adminid = jobPosting.AdminID })
            </div>
        }

        <div class="feature-heading">@Html.ActionLink(jobPosting.Title, "Details", new { id = jobPosting.JobPostingID, adminid = jobPosting.AdminID })</div>
        <div class="feature-description">Department: @jobPosting.Department.Name</div>
        <div class="feature-description">Description: @jobPosting.Description</div>
        <div class="feature-description">Qualifications: @jobPosting.Qualifications</div>
        <div class="feature-description">Deadline to Apply: @jobPosting.Deadline.ToString()</div>

        @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
        {
            <div class="feature-description">Is Active: @jobPosting.IsActive</div>
            <div class="feature-description">Created By: @jobPosting.Admin.FirstName @jobPosting.Admin.LastName</div>
        }
    </div>
    }
</div>
