﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <ul>
        <li><a asp-area="" asp-controller="Department" asp-action="Index">Departments</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Index">Events</a></li>
        <li><a asp-area="" asp-controller="JobPosting" asp-action="Index">Job Postings</a></li>
        <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">Faqs</a></li>
    </ul>
</div>
