﻿.faq, .hospital-event, .job-posting{
    border: 1px solid #000;
    margin: 1em 0;
    padding: 1em 1em 0 1em;
}

.feature-heading {
    margin-top: 1em;
    font-size: 22px;
    font-weight: bold;
}

.feature-description {
    font-size:16px;
    margin-bottom: 1em;
}