﻿@model HospitalProject.Models.Department

@{
    ViewData["Title"] = "Create";
}

<h2>Add a Department</h2>

<!-- Form to create a new Department -->
<form method="POST" action="/Department/Create">
    <div class="form-row">
        <label for="department-name">Name: </label>
        <input type="text" id="department-name" name="department_name">
    </div>

    <div class="form-row">
        <label for="department-desc">Description: </label>
        <input type="text" id="department-desc" name="department_desc">
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Department")