﻿@model HospitalProject.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this department?</h2>

<div>
    <div>Name : @Model.Name</div>
    <div>Description : @Model.Description</div>

    <form method="POST" action="/Department/Delete/@Model.DepartmentID">
        <input type="hidden" name="admin_id" value="@Model.AdminID" />

        <div class="form-row">
            <input type="submit" value="Delete" />
        </div>
    </form>

    <div>@Html.ActionLink("Back to List", "Index", "Department")</div>
</div>
