﻿@model HospitalProject.Models.Department

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Department</h2>

<!-- Form to edit a Department -->
<form method="POST" action="/Department/Edit/@Model.DepartmentID">
    <div class="form-row">
        <label for="department-name">Name: </label>
        <input type="text" id="department-name" name="department_name" value="@Model.Name">
    </div>

    <div class="form-row">
        <label for="department-desc">Description: </label>
        <input type="text" id="department-desc" name="department_desc" value="@Model.Description">
    </div>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back to List", "Index", "Department")

