﻿@model IEnumerable<HospitalProject.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add a Department", "Create", "Department")
        </div>
    }

</div>
<div>
    <!-- From Christine's Pagination Notes -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev", "Index", "Department",
        new { pagenum= ((int)ViewData["pagenum"] - 1)}
        )
    |
    @Html.ActionLink("Next", "Index", "Department",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Created By
        </th>
        @if ((string)ViewData["UserHasAdmin"] != "False" && (string)ViewData["UserHasAdmin"] != "None")
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @item.Admin.FirstName @item.Admin.LastName
            </td>
            
            @if (item.AdminID.ToString() == id)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID, adminid = item.AdminID })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID, adminid = item.AdminID })
                </td>
            }
        </tr>
    }
</table>
