﻿@model HospitalProject.Models.Booking
@{
    ViewData["Title"] = "Delete";
}
<div class="title">
    <h2>Delete</h2>

    <h3>Are you sure you want to Cancel this Appointment?</h3>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="center">
            <input type="submit" value="Delete" id="submit" />
        </div>
        <div class="center">
            <button class="buttonLink">@Html.ActionLink("Back to Book an Appointment", "Create")</button>
        </div>
    }
</div>
