﻿@model HospitalProject.Models.ViewModels.BookingEdit
@{
    ViewData["Title"] = "Edit";
}

<h2 class="title">Edit @Html.DisplayFor(model => model.Booking.Patient_name)</h2>


@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Don't forget this one-->
    @Html.HiddenFor(model => model.Booking.id)
    @Html.HiddenFor(model => model.Booking.Appointment_Active)
    @Html.HiddenFor(model => model.Booking.email)
    <div class="form-group">
        @Html.LabelFor(model => model.Booking.Patient_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Booking.Patient_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Booking.Patient_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Booking.time, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Booking.time, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Booking.time, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Booking.Department.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Booking.DepartmentID,
                                   new SelectList(Model.Departments, "DepartmentID", "Name"), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Booking.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


