﻿@model IEnumerable<HospitalProject.Models.Booking>
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Index</h2>

<div class="recadd">
    <!-- Based off Christine's Example -->
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Make a booking", "Create", "Booking")
        </div>
    }

</div>

<div class="title btn-md">@Html.ActionLink("Book an Appointment", "Create")</div>

<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev", "List", "Booking", new { pagenum = ((int)ViewData["pagenum"] - 1) }
            ) | @Html.ActionLink("Next", "List", "Booking", new { pagenum = ((int)ViewData["pagenum"] + 1) }
     )

        </div>

    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px; margin: 10px;">
                <div>
                    <div class="label">
                        @Html.DisplayNameFor(model => model.id):
                    </div>
                    <div class="right-side">
                        @Html.DisplayFor(modelItem => item.id)
                    </div>
                </div>
                <div>
                    <div class="label">
                        @Html.DisplayNameFor(model => model.Patient_name):
                    </div>
                    <div class="right-side">
                        @Html.DisplayFor(modelItem => item.Patient_name)
                    </div>
                </div>
                <div>
                    <div class="label">
                        @Html.DisplayNameFor(model => model.time):
                    </div>
                    <div class="right-side">
                        @Html.DisplayFor(modelItem => item.time)
                    </div>
                </div>
                
                <div>
                    <div class="center">
                        <button class="buttonLink">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                        <button class="buttonLink">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                        <button class="buttonLink">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                    </div>
                </div>
            </div>

        }
    </div>

