﻿@model HospitalProject.Models.ViewModels.BookingEdit

@{
    ViewData["Title"] = "Search";
}

<h2>Search Booking</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Booking</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Booking.Patient_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Booking.Patient_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Booking.Patient_name, "", new { @class = "text-danger" })
            </div>
        </div>
     </div>
}
