﻿@model HospitalProject.Models.Donation

@{
    ViewData["Title"] = "Donation Form";
}

<h4>Donation Form</h4>
<hr />
    <form asp-controller="Donation" asp-action="Create" method="post">
        <div id="donationForm">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonorName">Please Enter Your Name</label>
                        <input class="form-control" type="text" data-val="true" placeholder="E.g. John Doe" data-val-length="The field Donor Name must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Donor Name field is required." id="DonorName" name="DonorName" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonorName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonorEmail">Please Enter Your Email</label>
                        <input class="form-control" type="email" data-val="true" placeholder="E.g. john.doe@john.com" data-val-length="The field Donor Email must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The Donor Email field is required." id="DonorEmail" name="DonorEmail" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonorEmail" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonorPhone">Please Enter Your Phone</label>
                        <input class="form-control" type="text" data-val="true" maxlength="10" placeholder="E.g. 1234567890" data-val-length="The field Donor Phone must be a string with a maximum length of 10." data-val-length-max="10" data-val-required="The Donor Phone field is required." id="DonorPhone" name="DonorPhone" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonorPhone" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonationType">Select Type of Donation</label>
                        <select class="form-control valid" data-val="true" data-val-required="The Donation Type field is required." id="DonationType" name="DonationType" aria-describedby="DonationType-error" aria-invalid="false">
                            <option value="1">One Time</option>
                            <option value="2">Monthly</option>
                            <option value="3">Quarterly</option>
                            <option value="4">Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonationAmount">Amount (CAD)</label>
                        <input class="form-control" type="number" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="DonationAmount" name="DonationAmount" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonationAmount" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="DonationStatus"></label>
                        <input class="form-control" type="hidden" data-val="true" data-val-required="The Donation Status field is required." id="DonationStatus" name="DonationStatus" value="0">
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonationStatus" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.DonationDate, new { @value = System.DateTime.Now, @class = "form-control", @type = "hidden", })
                        <span class="text-danger field-validation-valid" data-valmsg-for="DonationDate" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Next" class="btn btn-primary" />
        </div>
    </form>


    <hr />

    <div>
        <a asp-action="Index"><button class="btn btn-primary">Back</button></a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

