﻿@model HospitalProject.Models.Donation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonorEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonorEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonorPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonorPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
