﻿@model HospitalProject.Models.Donation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonationID" />
            <div class="form-group">
                <label asp-for="DonorName" class="control-label"></label>
                <input asp-for="DonorName" class="form-control" />
                <span asp-validation-for="DonorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorEmail" class="control-label"></label>
                <input asp-for="DonorEmail" class="form-control" />
                <span asp-validation-for="DonorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorPhone" class="control-label"></label>
                <input asp-for="DonorPhone" class="form-control" />
                <span asp-validation-for="DonorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationType" class="control-label"></label>
                <input asp-for="DonationType" class="form-control" />
                <span asp-validation-for="DonationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationAmount" class="control-label"></label>
                <input asp-for="DonationAmount" class="form-control" />
                <span asp-validation-for="DonationAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationStatus" class="control-label"></label>
                <input asp-for="DonationStatus" class="form-control" />
                <span asp-validation-for="DonationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationDate" class="control-label"></label>
                <input asp-for="DonationDate" class="form-control" />
                <span asp-validation-for="DonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
