﻿@model IEnumerable<HospitalProject.Models.Donation>

@{
    ViewData["Title"] = "Donate Now";
}

<div id="donationBanner"><img src="~/images/donate.jpg"></div>
<div style="text-align:justify;">
<p>
    The Lake of the Woods District Hospital has identified over $3 million in capital equipment needs over the next two years. Your support will continue to aid in the purchase of that important medical equipment. Without supporters from the community like yourself, none of this would be possible. Thank you for choosing to be a part of making your hospital a quality medical facility whose top priority is patient care. Together we can all make a difference, one contribution at a time.Thank you for helping your hospital help you!
  </p><p>If you are making a donation in memory of a loved one, and you would like to include a personal message to the family on your acknowledgement card, or have any notes for us in regards to your memorial donation, please enter your message in the comment box provided on the donation form. Thank you!</p>
<p>
    <a href="/Donation/Create"><img src='~/images/donate.png'></a>
</p>
</div>
