﻿@model IEnumerable<HospitalProject.Models.Donation>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DonationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DonationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DonationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


