﻿@model IEnumerable<HospitalProject.Models.Donation>

@{
    ViewData["Title"] = "Paypal";
}


<div>Thank You <strong>@ViewData["Name"]</strong> for donating an amount of <strong>CAD @ViewData["Amount"]</strong>. This donation means a lot to us. Kindly click on the button below to proceed with the donation. Thanks</div>
<hr/>
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div>
            <a asp-action="Create"><button class="btn btn-primary">Back</button></a>
        </div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="erbirindersingh@gmail.com" />
            <input type="hidden" name="item_name" value="Donation to Humber Student Hospital" />
            <input type="hidden" name="currency_code" value="CAD" />
            <input type="hidden" name="amount" value="@ViewData["Amount"]" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>
</div>
