﻿@model HospitalProject.Models.NewsletterSubscribers
@{
    ViewData["Title"] = "Details";
}

<div class="title">
    <h2>Details</h2>
    <div class="row">
        <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px;">
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.name):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.name)
                </div>
            </div>
            <div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.email):
                </div>
                <div class="right-side">
                    @Html.DisplayFor(model => model.email)
                </div>
            </div>     
            <div>
                <button class="buttonLink">@Html.ActionLink("Back to Newsletter List", "Index")</button>
            </div>
        </div>
    </div>
</div>



