﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalProject</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style_birinder.css" />
        <link rel="stylesheet" href="~/css/style_Rabih.css" />
        <link rel="stylesheet" href="~/css/style_raymond.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
    
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img id="logo" src="~/images/logo.png"></a></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:center;margin-top:.4em;font-size:3em;">
                    Humber Student Hospital
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;margin-top:1em;">
                    <a href="/Donation/Index"><button class="btn btn-lg btn-danger">Donate Now</button></a>
                </div>
            </div>
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
           

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admins</a></li>
                    <li><a asp-area="" asp-controller="Booking" asp-action="Create">Book An Appointment</a></li>
                    <li><a asp-area="" asp-controller="FindSpecialist" asp-action="Index">Find A Specialist</a></li>
                    <li><a asp-area="" asp-controller="ReachUs" asp-action="Index">Reach Us</a></li>
                    <li><a asp-area="" asp-controller="PatientProfile" asp-action="Index">Patients Profile</a></li>
                    <li><a asp-area="" asp-controller="Page" asp-action="Index">Pages</a></li>
                    <li><a asp-area="" asp-controller="Link" asp-action="Index">Links</a></li>
                    <li><a asp-area="" asp-controller="Notification" asp-action="Index">Notification</a></li>
                    <li><a asp-area="" asp-controller="VaccinationAlerts" asp-action="Index">VaccinationAlerts</a></li>
                    <li><a asp-area="" asp-controller="Blogs" asp-action="Create">Blogs</a></li>
                    <li><a asp-area="" asp-controller="emergencyWaitingtimes" asp-action="Create">Emergency Waiting Times</a></li>
                    <li><a asp-area="" asp-controller="Newsletter" asp-action="Create">Newsletter Subscription</a></li>
                    <li><a asp-area="" asp-controller="CreateNewsletter" asp-action="Create">Create Newsletter</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>

        </div>
    </nav>
    <div class="container body-content">
        
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; 2019 - HospitalProject</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
