﻿@{
    ViewData["Title"] = "Create";
}

<h4>Create a Blog</h4>

<form action="/Blogs/Create" method="POST">

    <label>Title</label><input type="text" name="Title" />

    <label>Description</label><input type="text" name="Description" />

    <input type="submit" value="submit" />
</form>

